[Unit]
Description=Team Fortress 2 server
RefuseManualStart=no

[Service]
Type=simple
User=steam
Group=steam
ExecStart=/bin/bash /home/steam/servers/pug1/server.sh
CPUAffinity=0
Nice=-5

[Install]
WantedBy=multi-user.target
